body {
	background-color: #000000;
	max-width: 100%;

	overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

body::-webkit-scrollbar { /* WebKit */
    width: 0px;
}

.navbar {
	background-color: #000000 !important;
}

.navbar-brand-label {
	color: #32CD32 !important;
	font-size: 7vw !important;
	font-weight: bolder !important;
}

.navbar-header {
    text-align: center;
    width: 100%;
}

.dashboard {

}

.dashboard-item {
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
	color: white !important;
	max-height: 75%;
	box-model: border-box;
  	border: 5px solid transparent;
}


.dashboard-item img {
	text-align: center;
	max-width: 75%;
	max-height: 75%;
	border-radius: 15px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.screen {
	width: 100%;
	margin: 5px;
	text-align: center;
	max-height: 75%;
}

.black-screen {
	background-color: #000000;
}

.label {
	font-size: 7vw;
	font-weight: : bolder;
	white-space: pre-line;
}

.color-white {
	color: white;
}

.color-black {
	color: black;
}

.margin-top-1 {
	margin-top: 1in;
}

.margin-bottom-1 {
	margin-bottom: 1in;
}

a {
  text-decoration: none;
}

.panel-body {
	max-height: 65%;
}

.app {
	margin-top: 1.5vw;
	min-height: 65% !important;
	max-height: 65% !important;
	height: 65% !important;
}

.align-center {
	text-align: center;
}

.label-6 {
	font-size: 6vw !important;
}


